footer{
    padding: 10px;
    background-color: var(--fondo-cabecera);
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}
  
.footer1{
    color: var(--letras-menu);
    margin-left: 10px;
}
  /*
  .footer2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  .footer2 a{
    text-decoration: none;
    color: var(--letras-menu);
  }
  
  .footer2 a:hover{
    transition: 0.3s;
    color: var(--naranja);
  }
  */